@keyframes fadeIn {

    from{
        opacity:0;
        transform:translateY(8px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

.fade-in{

    animation:fadeIn .35s ease;
}

.card-hover{

    transition:.25s;

}

.card-hover:hover{

    transform:translateY(-3px);

}